/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  background-size: cover;
  margin: 120px;
  border-radius: 20px;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
