/* Write your CSS here */

.logout-button {
  background-color: #ffffff;
  color: #303150;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 38px;
  width: 130px;
  border-radius: 10px;
  border-width: 0px;
}
